---
title: GitLab Certified DevOps Professional
suppress_header: true
description: "GitLab Certified DevOps Professional"
extra_css:
  - services.css
---

.wrapper
  .simple-header
    %h1
      GitLab Certified DevOps Professional
    %h2.headline-subtitle
      Validate and showcase your GitLab skills

.services-inner
  .page-container.container
    %ol.breadcrumb
      %li 
      = breadcrumbs(current_page)
    .row
      .col-md-10.col-md-offset-1.tile
        %h2 GitLab Certified DevOps Professional

        %h3 Overview
        %p GitLab Certified DevOps Professional is a <a href= 'https://about.gitlab.com/handbook/customer-success/professional-services-engineering/gitlab-technical-certifications/'> technical certification</a> offered by  <a href= 'https://about.gitlab.com/handbook/customer-success/professional-services-engineering/'> GitLab Professional Services</a> to help the GitLab community and team members validate their ability to apply essential GitLab capabilities across a broad range of DevOps stages and functions. To earn certification, candidates must pass a series of written and hands-on assessments. 
 
        %h3 Availability
        %p Starting in December 2020 GitLab soft-launched the GitLab Certified DevOps Professional certification. The certification assessments are currently available to GitLab Professional Services customers who purchase <a href= 'https://about.gitlab.com/services/education/devops-fundamentals/'> the GitLab DevOps Fundamentals Training</a> series of courses for their teams. Course participants gain access to certification assessments immediately after finishing each of their course sessions.
 
        %h3 Why GitLab Certified DevOps Professional certification?
 
        %h4 For employers
        %p With GitLab GitLab Certified DevOps Professional certification, team managers now have a way to confirm their team members possess the skills needed to enable and use GitLab DevOps throughout the organization, resulting in faster and more secure code releases. All team members who achieve the certification will be able to apply GitLab DevOps functionality and best practices for better collaboration, more automation, and less complexity.
 
        %h4 For individuals
        %p Individuals who earn GitLab Certified DevOps Professional certification can showcase their ability to enable and use the fundamental DevOps capabilities of GitLab, from CI/CD to project management and security. These skill sets ensure certified individuals can make a significant impact by helping their organizations use GitLab to increase operational efficiency, accelerate delivery, and release innovate software products.
 
        %h3 Exam objectives
        %p Individuals who earn GitLab Certified DevOps Professional certification are able to perform the following tasks.
        %ul
          %li Explain what GitLab is and why teams use it
          %li Perform basic Git commands for branching and merging locally and remotely
          %li Apply fundamental concepts and skills using GitLab within the DevOps lifecycle
          %li Explain what GitLab CI/CD is and why teams use it
          %li Identify the key components needed for a CI/CD pipeline
          %li Explain GitLabs’s CI/CD functions
          %li Verify a new feature
          %li Scope and persist variables at various levels
          %li Scaffold out the basics of a test, build, review, and deploy pipeline using feature/topic branching as the review mechanism
          %li Apply the GitLab release and deployment workflow
          %li Use artifacts and dependency caching
          %li Build and deploy images to the GitLab registry
          %li Set up projects by creating issues, labels, milestones, and groups
          %li Manage projects using GitLab boards, epics, and roadmaps
          %li Use GitLab to develop portfolio plans
          %li Describe the security features available in GitLab
          %li Determine teams and/or team members that should give merge request security approvals
          %li Enable and configure scanning tool, including enabling and disabling options
          %li Enable and configure merge request security approvals
          %li View and utilize the Security Dashboard for a given group and project
          %li Download scanning results as evidence for compliance
          %li Configure defensive mechanisms
          %li Test performance and inspect logs
 
        %h3 Next steps
        %p Fill out the form below or contact your GitLab sales representative to discuss scheduling a dedicated live delivery of GitLab DevOps Fundamentals Training for your team, which includes all of the required certification assessments.
 
= partial "includes/services-contact-form"



